body{


}

.sidebar{


width: 200px;
height: 900px;
background: #333 ;
color:  #fff;
float: left;
display: inline;

}

.sidebar a{

  display: block;
  color:  #fff;
  text-decoration: none;
  padding: 10px;

}

.sidebar ul{

list-style: none;
padding: 0;


}


.sidebar h2{

text-align: center;
margin: 0;
padding: 10px;
background: #2a2a2a;

}
.sidebar h2:hover{
background: #444;

}


.sidebar li{


outline: : 1px solid #2a2a2a;
transition-property: border;
transition-duration: 0.3s;



}

.sidebar li:hover{

background: #444;
border-left: 5px solid #eee;

}

.contenido{




background: #eee;

}

.menu{

  cursor: pointer;
}



.dive{

  background: #2a2a2;
}